@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:ital,wght@0,400..700;1,400..700&family=Faculty+Glyphic&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin : 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #333;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding : 20px;
    align-items: flex-end;
}

.navbar-right {
    justify-items: space-between;
}

.navbar-left .navbar-item {
    padding-left : 30px;
    color : white;
    text-decoration: none;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: large;
    font-style: bold;
}

.navbar-item-logo {
    padding-right : 40px;
}
.navbar-item-btn {
    color : white;
    text-decoration: none;
    padding-right : 40px;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
}

.book-btn {
    background-color: #0081FB;
    color: white;
    padding : 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
}

.navbar-item:hover {
    color: #0081FB;
    text-decoration: underline;
    cursor: pointer;
}

.container-carousel {
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    width: 35%;
    padding-right: 100px;
    margin-right: 50px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: black;
    font-size: 20px;
    margin-bottom : 0px;
}

.subtitle {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #000000ea;
    margin-top: 0px;
}

.info {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    font-size: 15px;
    color: black;
    margin-top: 0px;
}

.title-btn {
    background-color: #0081FB;
    color: white;
    padding : 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    padding-top : 10px;
}

.title-btn:hover {
    background-color: #45a049;
}

h1 {
    margin-bottom : 10px;
}

h2 {
    margin-bottom: 2px;
}


.who-we-container {
    display: flex;
    flex-direction: row;
    margin : 50px 40px;
    margin-bottom : 50px;
    padding-top : 100px;
    padding-bottom : 40px;
    padding-right : 60px;
    padding-left : 150px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.img-card img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.256), 0 6px 20px 0 hwb(0 0% 100% / 0.245);
    margin-right : -20px;
    margin-bottom: 0px;
}

.who-we-are-content {
    width : 350px;
    border : 1px solid #ddd;
    padding : 20px;
    text-align: center;
    cursor: pointer;
    margin : 20px;
    height : 100%;
}


.services-container {
    width : 90%;
    margin : auto;
    box-sizing: border-box;
}

.service-head {
    font-family: "Roboto Condensed", sans-serif;
    font-size : 48px;
    font-weight: 600;
    color : #0081FB;
    text-align: center;
    margin-top : 50px;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    margin-top : 30px;
    padding-bottom : 30px;
}

.service-card {
    width : 350px;
    border : 1px solid #ddd;
    padding : 20px;
    text-align: center;
    cursor: pointer;
    margin : 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.256), 0 6px 20px 0 hwb(0 0% 100% / 0.245);
}

.service-btn {
    background-color: #0081FB;
    color: white;
    padding : 10px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 20px;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    padding-top : 10px;
}

.service-card i {
    font-size : 35px;
    color : #0081FB;
    margin-bottom : 20px;
}

.service-card p {
    padding-bottom: 30px;
}
