/* Base styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #333;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 20px;
    align-items: flex-end;
}

.navbar-right {
    justify-items: space-between;
}

.navbar-left .navbar-item {
    padding-left: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .navbar-left,
    .navbar-right {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-left .navbar-item {
        padding-left: 0;
        padding-bottom: 10px;
    }

    .who-we-container {
        flex-direction: column;
        padding: 20px;
    }

    .who-we-container .img-card img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 2px;
    }

    .navbar .navbar-left,
    .navbar-right {
        padding: 5px;
    }

    .who-we-container {
        padding: 10px;
    }

    .who-we-container .img-card img {
        width: 100%;
    }
}